body {
    background-color: #E6E6E6;
}

#chat {
    height: 500px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 75%;
    clear: both;
}

#history {
    height: 100%;
    overflow-y: auto;
}

#chat-form {
    width: 100%;
}
